<!--Jumbotron-->
  <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
      <h1 class="display-3 font-italic">Cybersecurity Education</h1>
      <p class="lead my-3">A social robot is an autonomous robot that interacts and communicates with humans or other autonomous physical agents by following social behaviors and rules attached to its role.
       <a href="https://en.wikipedia.org/wiki/Social_robot"  target="_blank">[1]</p>
      <p class="lead mb-0"><a href="https://en.wikipedia.org/wiki/Social_robot" target="_blank" class="text-white font-weight-bold">Continue reading...</a></p>
    </div>
  </div>
    <!--/Jumbotron-->
<!-- Statement of purpose-->
<section class="about-section text-center" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 mx-auto">
                <h2 class="text-black mb-4">Statement of Purpose</h2>
                <p class="text-black-50">
                  Social robots are designed to interact with us and show social behaviors. They recognize voices, faces and emotions, as well as speak, make eye contact and a host of other things that humans do with each other. 
                    As with all AI-powered technologies, cybersecurity is a considerable risk.
                    <a href="https://www.kaspersky.com/blog/secure-futures-magazine/social-robots/31964/"  target="_blank">[2]</a>
                    The purpose of this study is to investigate these potential security and privacy risks and examine how easily social robots could get sensitive information from the users.
                    Finally, the study includes creating educational cybersecurity quiz, designing Privacy Label and developing an application - 
                    Privacy Label Check that can read a label and provide necessary security and privacy risks information of the product.
                </p>
               
                  <div class="btn-group mt-4" role="group" aria-label="Callout buttons">
                  <button type="button" class="btn btn-outline-dark btn-lg" data-toggle="modal" data-target="#register" target="_blank">To view report</button>
                  <a><%= link_to 'To view application', products_path, :class => "btn btn-outline-dark btn-lg" %></a>
                  <a class="btn btn-outline-dark btn-lg" href="https://oksanaweigandsuminski.github.io/MMP310/project2-1/" target="_blank">To take quiz</a>

                  </div>
            </div>
        </div>
    </div>
</section>
<!-- /Statement of purpose-->
  <div class="container pt-4">
    <!--About-->
    <div id="about"class="row">
      <div class="col-lg order-lg-2">
        <h3 class="mb-4">Why do we need to know about cybersecurity?</h3>
          <img class="mb-4 img-fluid rounded d-none d-sm-block" src="img/7.jpg" alt="">
            <p>The Governments of Kenya and Portugal will co-host the Ocean Conference!</p>
            <p>The forthcoming Ocean Conference comes at a critical time as the world is strengthening its efforts to mobilize, 
            create and drive solutions to realize the 17 Sustainable Development Goals by 2030. 
            As one of the first milestones of UN Secretary-General Antonio Guterres’ newly launched Decade of Action for the Sustainable Development Goals, 
            the Conference will propel much needed science-based innovative solutions aimed at starting a new chapter of global ocean action.</p>
      </div>
      <div class="col-lg order-lg-1">
        <h3 class="mb-4">What is cybersecurity?</h3>
          <p>Become a part of the collective ambition of the international community to protect the ocean!</p>
          <p>Experts will discuss the solutions for a sustainably managed ocean that involves 
          green technology and innovative uses of marine resources. They will be addressing the threats to health, ecology, economy and governance of the ocean - 
          acidification, marine litter and pollution, illegal, unreported and unregulated fishing, and the loss of habitats and biodiversity.</p>
          <p>The webinar will have an Opening Segment and a High Level Panel Discussion. DESA/DSDG will host the session, prepare
          summaries of the webinar and post recordings and related materials online.</p>
          <p>The webinar will be open to all and conducted in English.</p>
      </div>
      <div class="col-lg order-lg-3">
        <h3 class="mb-4">Do you want to know more about cybersecurity of social robots?</h3>
          <div class="list-group">
            <a href="https://cybersecurityforrobotics.com/" target="_blank" class="list-group-item list-group-item-action"><strong>
              Cybersecurity for robotics<br> A web platform</strong></a>
            <a href="https://securelist.com/robots-social-impact/94431/" target="_blank" class="list-group-item list-group-item-action"><strong>
              A glimpse into the present state of security in robotics<br> Dmitry Galov, 2019 </strong></a>
            <a href="https://media.kasperskycontenthub.com/wp-content/uploads/sites/43/2019/10/14081257/Robots_social_impact_eng.pdf" target="_blank" class="list-group-item list-group-item-action"><strong>
              The potential of social robots for persuasion and manipulation: a proof of concept study <br> IDLab – imec, Ghent University, 2019</strong></a>
            <a href="https://ioactive.com/wp-content/uploads/2018/05/Hacking-Robots-Before-Skynet-Paper_Final.pdf" target="_blank" class="list-group-item list-group-item-action"><strong>
              Hacking Robots Before Skynet<br> IOActive Inc., 2017 </strong></a>
            <a href="https://www.computerworld.com/article/3175494/robots-are-just-as-plagued-by-security-vulnerabilities-as-iot-devices.html" target="_blank" class="list-group-item list-group-item-action"><strong>Robots are 
              just as plagued by security vulnerabilities as IoT devices <br>  Lucian Constantin, 2017</strong></a>
          </div>
      </div>
  </div>
<!-- /About-->
<!-- Footer -->
<footer class="blog-footer">
  <p>Website built for <a href="https://www.bmcc.cuny.edu/academics/faculty-affairs/research-and-scholarly-inquiry/student-research-opportunities/bmcc-foundation-fund-for-undergraduate-research/" target="_blank">
  The BMCC Foundation Fund Research Program</a> by <a href="https://www.linkedin.com/in/oksana-weigand-suminski-0a7941151/" target="_blank">@oksanaweigandsuminski</a>.</p>
  <p> References</p>
  <p>
    <a href="#">Back to top</a>
  </p>
</footer>
<!-- /Footer -->
