<!--Jumbotron-->
  <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
      <h1 class="display-3 font-italic">Cybersecurity Education</h1>
      <p class="lead my-3">A social robot is an autonomous robot that interacts and communicates with humans or other autonomous physical agents by following social behaviors and rules attached to its role.
       <a href="https://en.wikipedia.org/wiki/Social_robot"  target="_blank">[1]</p>
      <p class="lead mb-0"><a href="https://en.wikipedia.org/wiki/Social_robot" target="_blank" class="text-white font-weight-bold">Continue reading...</a></p>
    </div>
  </div>
    <!--/Jumbotron-->
<!-- Statement of purpose-->
<section class="about-section text-center" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 mx-auto">
                <h2 class="text-black mb-4">Statement of Purpose</h2>
                <p class="text-black-50">
                  Social robots are designed to interact with us and show social behaviors. They recognize voices, faces and emotions, as well as speak, make eye contact and a host of other things that humans do with each other. 
                    As with all AI-powered technologies, cybersecurity is a considerable risk.
                    <a href="https://www.kaspersky.com/blog/secure-futures-magazine/social-robots/31964/"  target="_blank">[2]</a>
                    The purpose of this study is to investigate these potential security and privacy risks and examine how easily social robots could get sensitive information from the users.
                    Finally, the study includes creating educational cybersecurity quiz, designing Privacy Label and developing an application - 
                    Privacy Label Check that can read a label and provide necessary security and privacy risks information of the product.
                </p>
               
                  <div class="btn-group mt-4" role="group" aria-label="Callout buttons">
                  <button type="button" class="btn btn-outline-dark btn-lg" data-toggle="modal" data-target="#" target="_blank">To view report</button>
                  <a class="btn btn-outline-dark btn-lg" href="#" target="_blank">To view label</a>
                  <a><%= link_to 'To view application', products_path, :class => "btn btn-outline-dark btn-lg" %></a>
                  <a class="btn btn-outline-dark btn-lg" href="https://oksanaweigandsuminski.github.io/MMP310/project2-1/" target="_blank">To take quiz</a>

                  </div>
            </div>
        </div>
    </div>
</section>
<!-- /Statement of purpose-->
  <div class="container pt-3">
    <!--About-->
    <div id="about"class="row">
    <div class="col-lg order-lg-1">
        <h3 class="mb-4">What is cybersecurity?</h3>

          <p>Cyber security is the practice of defending computers, servers, mobile devices, electronic systems, networks, and data from malicious attacks. 
          It is also known as information technology security or electronic information security. The term applies in a variety of contexts, from business to mobile computing.</p>
          <p>A recent Parks Associates survey of more than 10,000 U.S. households shows that almost half of consumers describe themselves as "very concerned" about hackers getting control of the connected devices in their homes.
          <a href="https://usa.kaspersky.com/resource-center/threats/internet-of-things-security-risks"  target="_blank">[4]</a></p>
      </div>
      <div class="col-lg order-lg-2">
        <h3 class="mb-4">Why do we need to know about it?</h3>
            <p>Cybercrime has hit the U.S. so hard that in 2018 a supervisory special agent with the FBI who investigates cyber intrusions 
            told The Wall Street Journal that every American citizen should expect that all of their data (personally identifiable information)
            has been stolen and is on the dark web -  where cybercriminals buy and sell malware, exploit kits, and cyberattack services, 
            which they use to strike victims — including businesses, governments, utilities, and essential service providers on U.S. soil.</p>

            <p>Billionaire businessman and philanthropist Warren Buffet calls cybercrime the number one problem with mankind, and cyberattacks a bigger threat to humanity than nuclear weapons.
            <a href="https://cybersecurityventures.com/cybercrime-damages-6-trillion-by-2021/"  target="_blank">[3]</a></p>
      </div>
      <div class="col-lg order-lg-3">
        <h3 class="mb-4">Security Begins at (The Smart) Home</h3>
          <p>First, make sure you have a good sense of your vulnerability. How do the products and services you use to automate your life collect, manage, and store your data? 
          How do the devices you use potentially share data when you are walking around environments that make up the IoT?</p>
          <p>Next, make sure the passwords for all your devices are unique and include a mix of letters, numbers, and other characters that are difficult to guess. Do not share passwords with others.</p>
          <p>Most importantly, put the proper security tools in place to monitor your environment. Early intrusion detection has always been one of best ways to avoid the worst security incidents, and that remains true in the age of the IoT.
          <a href="https://usa.kaspersky.com/resource-center/threats/internet-of-things-security-risks"  target="_blank">[4]</a></p>
      </div>
      <div class="col-lg order-lg-4">
        <h3 class="mb-4">Learn about cybersecurity of social robots</h3>
          <div class="list-group">
            <a href="https://cybersecurityforrobotics.com/" target="_blank" class="list-group-item list-group-item-action"><strong>
              Cybersecurity for robotics</strong></a>
            <a href="https://securelist.com/robots-social-impact/94431/" target="_blank" class="list-group-item list-group-item-action"><strong>
              A glimpse into the present state of security in robotics</strong></a>
            <a href="https://media.kasperskycontenthub.com/wp-content/uploads/sites/43/2019/10/14081257/Robots_social_impact_eng.pdf" target="_blank" class="list-group-item list-group-item-action"><strong>
              The potential of social robots for persuasion and manipulation: a proof of concept study</strong></a>
            <a href="https://ioactive.com/wp-content/uploads/2018/05/Hacking-Robots-Before-Skynet-Paper_Final.pdf" target="_blank" class="list-group-item list-group-item-action"><strong>
              Hacking Robots Before Skynet</strong></a>
            <a href="https://www.computerworld.com/article/3175494/robots-are-just-as-plagued-by-security-vulnerabilities-as-iot-devices.html" target="_blank" class="list-group-item list-group-item-action"><strong>Robots are 
              just as plagued by security vulnerabilities as IoT devices</strong></a>
          </div>
      </div>
  </div>
<!-- /About-->
<!-- Footer -->
<footer class="blog-footer">
  <p>Website built for <a href="https://www.bmcc.cuny.edu/academics/faculty-affairs/research-and-scholarly-inquiry/student-research-opportunities/bmcc-foundation-fund-for-undergraduate-research/" target="_blank">
  The BMCC Foundation Fund Research Program</a> by <a href="https://www.linkedin.com/in/oksana-weigand-suminski-0a7941151/" target="_blank">@oksanaweigandsuminski</a>.</p>
  <p> References</p>
  <p>[3] Cybercrime To Cost The World $10.5 Trillion Annually By 2025,  Steve Morgan, 2020<br>
  [4] Internet of Things Security Threats, usa.kaspersky.com</p>
  <p>
    <a href="#">Back to top</a>
  </p>
</footer>
<!-- /Footer -->
