@import "bootstrap";
h1{
    text-align: center;
    margin: 50px;
}
.badge {
    margin-left: 20px;
}
a{
    color: lightgray;
}
a:hover {
    text-decoration: none;
  }
  .jumbotron
  {
      background-image: url("2.jpg")
  }
  